@charset "utf-8";

/************  element ********/
.element {
  width: 100%;
  position: relative;
  padding-bottom: 200px;
}
.booking,
.cont-02  {
  margin-bottom: 30px;
}
.cont-02 h3 {
  font-size: 1.8em;
  text-align: center;
  /*letter-spacing: -8px;*/
  margin-bottom: 20px;
  color: #474443;
}
.cont-02 h3 a {
  display: inline-block;
  color: #474443;
}
.cont-02 p {
  width: 95%;
  margin:0 auto;
  font-size: 1.5em;
}
.gallery ul li {
  margin-bottom: 20px;
}
/*------for register and price page------*/
.trail-box01 {
  margin-bottom: 40px;
}
.trail-box01 h2,
.faq-sub h3 {
  background: url(../images/register_img02.png) repeat;
  color : #786450;
  font-size: 2em;
  position: relative;
  padding: 20px 0 20px 60px;
  margin-bottom: 20px;
}
.trail-box01 h2:before,
.faq-sub h3:before {
  content: url(../images/register_img01.png);
  position: absolute;
  top: 23px;
  left: 20px;
}
.trail-box01 h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.trail-box01 a {
  text-decoration: none;
  color: #649fc7;
  display: inline-block;
}

.trail-box01 table {
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  color: #646464;
  margin-bottom: 40px;
}

.trail-box01 table tr th {
  background: #f5f5f0;
  height: 50px;
  font-weight: normal;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(1) {
  width: 36%;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(2) {
  width: 39%;
}

.trail-box01 table.trail-table-s01 tr th:nth-child(3) {
  width: 25%;
}

.trail-box01 table.trail-table-s02 tr th:nth-child(1) {
  width: 40%;
}

.trail-box01 table.trail-table-s02 tr th:nth-child(2) {
  width: 60%;
}

.trail-box01 table tr th:nth-child(2),
.trail-box01 table tr td:nth-child(2) {
  border-left: 2px solid #bbb1a7;
  border-right: 2px solid #bbb1a7;
}
.trail-box01 table.trail-table-s02 tr th:nth-child(2),
.trail-box01 table.trail-table-s02 tr td:nth-child(2) {
  border-right: none;
}

.trail-box01 table tr td {
  height: 100px;
  border-bottom: 2px solid #bbb1a7;
  text-align: center;
}
/*------/for register and price page------*/

/*------for schedule and schedule-next page------- */
.next-sch img {
  float: right;
  width: 12%;
  margin-bottom: 15px;
}

.prev-sch img {
  width: 12%;
  margin-bottom: 15px;
}

.sch-year {
  margin-bottom: 20px;
}

.sch-list {
  margin-bottom: 30px;
}

.sch-list ul li {
  border-bottom: 1px solid #b9afa5;
}

.sch-list ul li a {
  color: #646464;
  padding: 10px 0;
  display: block;
}

.sch-list ul li a:hover {
  background: #e0dbd6;
}

.sch-list span {
  float: left;
  font-size: 1em;
}

.sch-time {
  width: 26%;
  padding-left: 5px;
}

.sch-class-name {
  width: 35%;
}

.sch-instructor {
  width: 39%;
  padding-left: 5px;
}

.remark-txt {
  margin-bottom: 30px;
}

.remark-txt ul li {
  list-style-type: none;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.col-red {
  color: #ff7878 !important;
}

/*------/for schedule and schedule-next page------- */

.txt-blue {
  color: #649fc8;
}
.txt-blue:hover {
  opacity: .7;
}
/*------- for Blog and uncategorized-242 -----*/

.information {
  padding: 40px 0 20px 20px;
  background:#fff;
  margin-bottom: 40px;
}

.information ul li,
.new-article ul li {
  margin-bottom: 20px;
}

.information ul li a,
.new-article ul li a {
  color: #646464;
  font-size: 1.5em;
}

.information ul li a .info-date ,
.new-article ul li a .info-date {
  float: left;
  width: 40%;
}

.information ul li a .info-txt ,
.new-article ul li a .info-txt {
  float: left;
  width: 58%;
  padding-right: 1%;
}

.information ul li a .txt-001 {
  display: inline-flex;
}

/*----- for uncategorized -----*/
.blog-cont {
  margin-bottom: 40px;
  background: #fff;
}

.blog-cont .cont .descript {
  padding: 40px 20px 0 20px;
}

.blog-cont .cont .descript p {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.blog-cont .cont .descript p.desc-date {
  font-size: 1.8em;
}

.blog-cont .cont .descript h2 a {
  font-size: 1.5em;
  color: #643c32;
  margin-bottom: 40px;
  border-bottom: 1px solid #643c32;
}

.blog-cont .cont .descript .demo {
  width: 50%;
  margin-bottom: 0;
}

.blog-cont .cont .next-page {
  padding: 30px 0 50px 0;
}

.blog-cont .cont .next-page .nxt-inner {
  width: 60%;
  margin: 0 auto;
}

.blog-cont .cont .next-page .left ,
.blog-cont .cont .next-page .right {
  display: block;
  width: 40%;
}

.blog-cont .cont .next-page a {
  display: block;
}

.blog-cont .cont .ta-right a  {
  display: block;
  float: right;
  width: 20%;
  margin-right: 5%;
}

.blog-cont .cont .new-article {
  padding: 40px 20px 50px 20px;
  margin-bottom: 40px;
}

.blog-cont .cont .new-article h2 {
  font-size: 2.5em;
  border-bottom: 1px solid #b9afa5;
  margin-bottom: 20px;
}

.sub-page .sub-blog {
  display: block;
  padding: 100px 0 10px 20px;
  background:url(../images/blog05.png) no-repeat;
  background-size: cover;
  margin: 40px 0;
}

.sub-blog ul li a {
  color: #643c32;
  font-size: 1.8em;
  padding: 10px 0;
}
