@charset "utf-8";
/*** faq style ***/
dd {
  margin: 0;
}
span {
  display: block;
  font-size: 0.8em;
}
a {
  display: inline-block;
}
.faq-sub p {
  width: 100%;
  font-size: 20px;
  padding-left: 2%;
}
.faq-sub dl {
  font-size: 1em;
}
.faq-sub dt {
  width: 90%;
}
.faq-sub dt:before {
  content: "";
  width: 48px;
  height: 44px;
  display: block;
  background: url(../images/faq02.png) no-repeat top left;
  float: left;
  padding-right: 5%;
}
.faq-sub dd:before {
  content: "";
  width: 48px;
  height: 44px;
  display: block;
  background: url(../images/faq03.png) no-repeat top left;
  float: left;
  padding-right: 5%;
}
.faq-sub dt p {
  padding: 10px 0 0 11%;
  color: #ff9494;
}
.faq-sub dd {
  width: 90%;
  margin-bottom: 30px;
}
.faq-sub dd p {
  padding: 10px 0 10px 11%;
}
.element a {
  display: block;
}
