@charset "utf-8";

/*** Menu Page ***/
.bg-pink,.content .limit .sub-limit {
  background: #ff8b8b;
}
.content ul .bg-brown,.bg-brown {
  border-radius: 14px;
  background: #786450;
}
/*.content {
  font-size: 1.5em;
}*/
.content a,.content ul li {
  border-radius: 5px;
  padding: 23px 0;
}
.content a {
  font-size: 1.5em;
  color: #fff;
  display: block;
  text-align: center;
}
.content a:hover {
  opacity: .8;
}
.content .limit {
  width: 100%;
}
.content .limit .sub-limit {
  width: 49%;
  border-radius: 14px;
  display: table;
}
.content .limit .sub-limit a {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}
.content a:after {
  content: "";
  width: 10px;
  height: 18px;
  display: block;
  background: url(../images/menu02.png) no-repeat right;
  float: right;
  margin: 10px 5% 0 0;
}
.content .sub-limit01 a:after {
  margin-top: -3px;
}
.strength ul li {
  float: left;
  width: 32%;
  height: 90px;
  margin-right: 2%;
  padding-left: 3%;
  color: #fff;
  padding-top: 34px;
}
.strength ul li:last-child {
  margin-right: 0;
}
.strength .strength01 {
  height: 90px;
  background: url(../images/menu_bg.png) no-repeat;
  background-size: 100% 100%;
}
.strength .strength02 {
  height: 90px;
  background: url(../images/menu_bg.png) no-repeat;
  background-size: 100% 100%;
}
.yoga-lesson h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #908078;
  text-align: center;
}
.yoga-lesson .menu {
  padding: 35px 5% 5% 5%;
}
.yoga-lesson .menu01 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu02 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu03 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu04 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu05 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu06 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu08 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu09 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu10 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu11 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu12 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu13 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu14 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu15 {
  background: url(../images/menu_bg.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 p,.yoga-lesson .menu10 p {
  margin-top: 20px;
}
.yoga-lesson .menu12 ul li {
  width: 48%;
}
.ladys,
.mens {
  position: relative;
}
.ladys:before,
.mens:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 166px;
  height: 100%;
  content: "";
}
.lesson-menu {
  width: 62.8%;
  margin: 0 auto .8em;
  padding-top: 0.8em;
  background: url(../images/dots_border.png) top left repeat-x;
}
.strength {
  width: 39.2%;
  height: auto;
}
.ladys:before {
  background: url(../images/lady.png) left top no-repeat;
  background-size: contain;
}
.mens:before {
  background: url(../images/mens.png) left top no-repeat;
  background-size: contain;
}
